html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $main-font-color;
  background: $main-background;
}

#root {
  min-height: 100%;
  position: relative;
}

.main {
  margin: 0;
}

.no-pad {
  padding: 0 !important;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  text-align: center;
}
